<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About US</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>

    <section>
    <h1><b>About US</b></h1>
    <h3><u>What we do</u></h3>
    <p id="p1">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
         Recusandae, minus. Nobis obcaecati molestias consequuntur, <br> 
         magnam id consequatur eligendi temporibus dolor iste quisquam <br> 
         incidunt deserunt excepturi fugiat? Eum non quas excepturi?
    </p>

    <p id="p2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
         Recusandae, minus. Nobis obcaecati molestias consequuntur, <br> 
         magnam id consequatur eligendi temporibus dolor iste quisquam <br> 
         incidunt deserunt excepturi fugiat? Eum non quas excepturi?
    </p>
    </section>
    
</body>
</html>